@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(rgba(0, 212, 250, 0.5),transparent);
  background-color: lightblue;
}
body {
  padding: 0;
  margin: 0;
}