.about-picture{
    
    flex: 0 0 150px;
    display: flex;
    float: right;
    height: 500px;
    width: 500px;



}

.about-info{
    
    padding-left: 20px;
    float: left;
    
}
.center{
    text-align: 'center';
  }
  .about{
    text-align: 'center';
  }