.profile-button{
    background-color: blueviolet !important;
}

.profile-button:hover {
    background: purple !important
}


.add-experience:hover {
    background: red;
    color: #fff;
    cursor: pointer;
    border: solid 4px #BA68C8
}