.profile-button{
    background-color: white !important;
    color: black !important;    
}

.profile-button:hover {
    outline-style: solid;
    outline-color: black;
}


.add-experience:hover {
    background: red;
    color: #fff;
    cursor: pointer;
    border: solid 4px #BA68C8
}

.desc{
    width: 525px;
    height: 150px;
    text-align: left !important;
    vertical-align: top !important;
}