.main-footer{
    color: white;
    background-color: purple;
    text-align: center;
    bottom: 0;
    width: 100%;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    height: 10vh;
    
   
  }
  .bottom{
    text-align: center;
    padding:20px 0;
    
}