/*
    Free images and elements courtesy of Unsplash and FlatIcon
*/

.body{
    margin: 0;
    padding: 0;
}

.button-background{
    background-color: #E8E8E8;
    padding: 20px;
}
.b-categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.browse-button{
    background-color: #FFFF8F !important;
    color: black !important;
    font-weight: bold !important;
    margin-top: 10px !important;
    margin-left: 80px !important;
    margin-right: 80px !important;
    font-size: x-large !important;
    padding: 10px !important;
}

.greeting{
    text-align: center;
    font-size: large;
    font-weight: bold;
    outline: auto;
    padding: 10px;
}

.text1{
    background-color: #E8E8E8;
    text-align: right;
    font-size: large;
    font-weight: bold;
    padding: 50px;
}
h4{
    text-decoration: underline;
    font-weight: bold;
}

.text2{
    text-align: left;
    font-size: large;
    font-weight: bold;
    padding: 50px;
}

.a-img{
    float:left;
    width: 40% !important;
    height: 40% !important;
}

.a-img1{
    float: right;
}


@media screen and (max-width: 480px) {
    .b-categories{
        flex-direction: column;
    }
}