.navbarColor {
    background: mediumpurple
}
#navDropDown {
    background: mediumpurple

}

#cater-nav {
    margin-right: 150px;
}

.navbar {
    min-height:10px !important
}

#thenavbar {
    background: mediumpurple;

}

.form-group {
    width: 800px;
}

.nav-link {
    color: white !important;
    text-shadow: 2px 2px 8px black;
    margin: 3px !important;
    max-width: 70% !important;
}
.nav-item {

    background-color: mediumpurple !important;

}
.nav-link:hover{
    background-color: purple !important;
}

.nav-link:active{
    background-color: purple !important;
}


.dropdown {
    background-color:#E8E8E8;
    border-radius: 10px;
}

#formID{

    margin-right:10px;


}

.form-select {
    width:300px !important;

}

