#messageStudent {
    margin-top:20px;
    height: 250px;
}

#navDropDownTutor{
    background: lightgreen;
}

.div-inline {
    display:inline-block;
}

option {
    color:black !important;
    background-color:white !important;
}